body {margin:0; padding:0;font:normal 13px Arial, Helvetica, sans-serif; color:#5b5b5b; line-height:normal; background:#95C4FE;}

#wrapper{ width:100%; margin:0 auto;}

.container{width:667px; padding:0 10px; margin:0 auto;}

#header .container li{float:left; margin-right:135px;}
#header .container li a{font-size:24px; color:#95C4FE; display:block; padding:8px 22px; }
#header .container li a.hold{color:#ffffff; font-weight:bold;}

#container{ width:100%; padding-bottom:120px;}
#container .container{padding-top:10px;}

.trackers{width:63%; float:none; margin:0 auto;}
#add_entry{padding:15px 30px; width:32%;background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;margin-bottom:10px;}


#footer{width:100%; background:#f7f7f7; border-top:1px solid #809a81;position: fixed;bottom:0;}
#footer .container li{float:left;}


#start{padding:15px 30px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; width:32%; float:left;}
#stop{padding:15px 30px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;width:32%; float:left;}
#add_kick{float:right; width:32%;padding:15px 30px;background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;}

#showkicks{padding-top:10px; text-align:center; font-size:15px;float:left;}
#showkicks tr{border-bottom:2px solid #000;}

/*images*/
/*.trackers-pg  li .appointments{background:url(../images/visits-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .kick,.left_section li .kick{background:url(../images/kicks-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .contractions{background:url(../images/contractions-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .journal,.left_section li .journal{background:url(../images/journal-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .take_photo,.left_section li .take_photo{background:url(../images/photos-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .baby, .left_section li .baby{background:url(../images/baby-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .birthplan{background:url(../images/birth-plan-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .vitals{background:url(../images/vitals-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .faq, .last-child .faq{background:url(../images/faq-b.png) no-repeat; display:block; width:168px; height:168px;}*/

/*
.right-section{background:url(../images/photo-frame-b.png) no-repeat; display:block; background-size:100%;}*/

.take_photo_button{padding:20px 15px;  background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; width:100%;}


#appointments{padding:10px 15px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;}

#demo_cont_datetime label{font-size:18px; font-family:Arial, Helvetica, sans-serif;}
#demo_datetime{width:33%; padding:7px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; border:none; margin:0 5px;}
#add{padding:10px 8%; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;}

#showdata{border:none; text-align:center; font-size:15px;}
#appo_del{padding:10px 30px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; margin-left:60%;}

#data{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; height:300px; color:#95C4FE;}

/*contractions-btn*/

.contractions-btn{padding:15px 30px;background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; float:right; width:130px;}

.contractions-tab table{padding-top:10px; float:left; text-align:left;}

#showcontraction th{width:73%;}

/*journal*/
#showjournal table tr{margin-bottom:10px;}
#delete_entry{padding:10px 15%; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #63a8fa; margin-left:50px;}


.faq .faq-btn {padding:15px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; width:95%; display:block; text-align:center;}
