body {margin:0; padding:0;font:normal 13px Arial, Helvetica, sans-serif; color:#5b5b5b; line-height:normal; background:#95C4FE;}

#wrapper{ width:100%; margin:0 auto;}

.container{width:667px; padding:0 10px; margin:0 auto;}

#header .container li{float:left; margin-right:135px;}
#header .container li a{font-size:24px; color:#95C4FE; display:block; padding:8px 22px; }
#header .container li a.hold{color:#ffffff; font-weight:bold;}

#container{ width:100%; padding-bottom:120px;}
#container .container{padding-top:10px;}

.trackers{width:63%; float:none; margin:0 auto;}
#add_entry{padding:15px 30px; width:32%;background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;margin-bottom:10px;}


#footer{width:100%; background:#f7f7f7; border-top:1px solid #809a81;position: fixed;bottom:0;}
#footer .container li{float:left;}


#start{padding:15px 30px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; width:32%; float:left;}
#stop{padding:15px 30px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;width:32%; float:left;}
#add_kick{float:right; width:32%;padding:15px 30px;background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;}

#showkicks{padding-top:10px; text-align:center; font-size:15px;float:left;}
#showkicks tr{border-bottom:2px solid #000;}

/*images*/
/*.trackers-pg  li .appointments{background:url(../images/visits-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .kick,.left_section li .kick{background:url(../images/kicks-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .contractions{background:url(../images/contractions-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .journal,.left_section li .journal{background:url(../images/journal-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .take_photo,.left_section li .take_photo{background:url(../images/photos-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .baby, .left_section li .baby{background:url(../images/baby-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .birthplan{background:url(../images/birth-plan-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .vitals{background:url(../images/vitals-b.png) no-repeat; display:block; width:168px; height:168px;}
.trackers-pg  li .faq, .last-child .faq{background:url(../images/faq-b.png) no-repeat; display:block; width:168px; height:168px;}*/

/*
.right-section{background:url(../images/photo-frame-b.png) no-repeat; display:block; background-size:100%;}*/

.take_photo_button{padding:20px 15px;  background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; width:100%;}


#appointments{padding:10px 15px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;}

#demo_cont_datetime label{font-size:18px; font-family:Arial, Helvetica, sans-serif;}
#demo_datetime{width:33%; padding:7px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px; border:none; margin:0 5px;}
#add{padding:10px 8%; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0;}

#showdata{border:none; text-align:center; font-size:15px;}
#appo_del{padding:10px 30px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; margin-left:60%;}

#data{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px; height:300px; color:#95C4FE;}

/*contractions-btn*/

.contractions-btn{padding:15px 30px;background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; float:right; width:130px;}

.contractions-tab table{padding-top:10px; float:left; text-align:left;}

#showcontraction th{width:73%;}

/*journal*/
#showjournal table tr{margin-bottom:10px;}
#delete_entry{padding:10px 15%; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #63a8fa; margin-left:50px;}


.faq .faq-btn {padding:15px; background:#FFF; opacity: 0.80; color:#63a8fa; font-size:16px;-webkit-border-radius: 12px;-moz-border-radius: 12px;border-radius: 12px; border:1px solid #aeb8b0; width:95%; display:block; text-align:center;}


input[name=gender] + label, input[name=due_date] + label, input[name=units1] + label,input[name=quest1] + label,input[name=quest2] + label,input[name=quest3] + label,input[name=quest6] + label,input[name=quest7] + label,input[name=quest8] + label,input[name=quest9] + label,input[name=quest10] + label,input[name=quest11] + label,input[name=quest12] + label,input[name=quest13] + label,input[name=quest14] + label,input[name=quest15] + label,input[name=quest16] + label,input[name=quest17] + label,input[name=quest18] + label,input[name=quest19] + label,input[name=quest20] + label,input[name=quest21] + label,input[type=checkbox] + label {
	display:inline-block;
	margin:-2px;
	padding: 4px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	text-align: center;
	line-height: 17px;
    color: #fff;
	background: rgba(149,196,254,1);
background: -moz-linear-gradient(top, rgba(149,196,254,1) 0%, rgba(149,196,254,1) 2%, rgba(126,181,248,1) 41%, rgba(98,163,243,1) 61%, rgba(59,140,239,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(149,196,254,1)), color-stop(2%, rgba(149,196,254,1)), color-stop(41%, rgba(126,181,248,1)), color-stop(61%, rgba(98,163,243,1)), color-stop(100%, rgba(59,140,239,1)));
background: -webkit-linear-gradient(top, rgba(149,196,254,1) 0%, rgba(149,196,254,1) 2%, rgba(126,181,248,1) 41%, rgba(98,163,243,1) 61%, rgba(59,140,239,1) 100%);
background: -o-linear-gradient(top, rgba(149,196,254,1) 0%, rgba(149,196,254,1) 2%, rgba(126,181,248,1) 41%, rgba(98,163,243,1) 61%, rgba(59,140,239,1) 100%);
background: -ms-linear-gradient(top, rgba(149,196,254,1) 0%, rgba(149,196,254,1) 2%, rgba(126,181,248,1) 41%, rgba(98,163,243,1) 61%, rgba(59,140,239,1) 100%);
background: linear-gradient(to bottom, rgba(149,196,254,1) 0%, rgba(149,196,254,1) 2%, rgba(126,181,248,1) 41%, rgba(98,163,243,1) 61%, rgba(59,140,239,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#95c4fe', endColorstr='#3b8cef', GradientType=0 );
}
input[name=gender]:checked + label, input[name=due_date]:checked + label, input[name=units1]:checked + label,input[name=quest1]:checked + label,input[name=quest2]:checked + label,input[name=quest3]:checked + label,input[name=quest6]:checked + label,input[name=quest7]:checked + label,input[name=quest8]:checked + label,input[name=quest9]:checked + label,input[name=quest10]:checked + label,input[name=quest11]:checked + label,input[name=quest12]:checked + label,input[name=quest13]:checked + label,input[name=quest14]:checked + label,input[name=quest15]:checked + label,input[name=quest16]:checked + label,input[name=quest17]:checked + label,input[name=quest18]:checked + label,input[name=quest19]:checked + label,input[name=quest20]:checked + label,input[name=quest21]:checked + label, input[type=checkbox]:checked + label {
	background: rgba(95,164,248,1);
background: -moz-linear-gradient(top, rgba(95,164,248,1) 0%, rgba(95,164,248,1) 2%, rgba(137,184,241,1) 50%, rgba(130,186,255,1) 86%, rgba(149,196,254,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(95,164,248,1)), color-stop(2%, rgba(95,164,248,1)), color-stop(50%, rgba(137,184,241,1)), color-stop(86%, rgba(130,186,255,1)), color-stop(100%, rgba(149,196,254,1)));
background: -webkit-linear-gradient(top, rgba(95,164,248,1) 0%, rgba(95,164,248,1) 2%, rgba(137,184,241,1) 50%, rgba(130,186,255,1) 86%, rgba(149,196,254,1) 100%);
background: -o-linear-gradient(top, rgba(95,164,248,1) 0%, rgba(95,164,248,1) 2%, rgba(137,184,241,1) 50%, rgba(130,186,255,1) 86%, rgba(149,196,254,1) 100%);
background: -ms-linear-gradient(top, rgba(95,164,248,1) 0%, rgba(95,164,248,1) 2%, rgba(137,184,241,1) 50%, rgba(130,186,255,1) 86%, rgba(149,196,254,1) 100%);
background: linear-gradient(to bottom, rgba(95,164,248,1) 0%, rgba(95,164,248,1) 2%, rgba(137,184,241,1) 50%, rgba(130,186,255,1) 86%, rgba(149,196,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fa4f8', endColorstr='#95c4fe', GradientType=0 );
}
